

@font-face {
    font-family: 'MoongladeDemoBold';
    src:url(Fonts/MoongladeDemoBold.ttf);
    font-weight: normal;
    font-size: normal;
}

@font-face{
    font-family:'SF-CompactDisplay';
    src:url(Fonts/SFCompactDisplay-Regular.ttf);
    font-weight:normal;
    font-size: normal;
}

@font-face{
    font-family:'SFProText';
    src:url(Fonts/SFProText-Regular.ttf);
    font-weight:normal;
    font-size: normal;
}

@font-face{
    font-family:'SFProText';
    src:url(Fonts/SFProText-Bold.ttf);
    font-weight: bold;
    font-size: normal;
}

@font-face {
    font-family:'SFProText' ;
    src: url(Fonts/SFProText-Heavy.ttf);
    font-weight: bolder;
    font-size: normal;
}

@font-face {
    font-family:'SFProText' ;
    src: url(Fonts/SFProDisplay-Thin.ttf);
    font-weight: lighter;
    font-size: normal;
}

*{
    font-family: 'SFProText';
}
.header{
    display: flex;
    flex-direction: column;
   /* background-color: rgb(252, 247, 247); */
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.link{
    color: black;
}
.upper-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header-links{
    display: flex;
    flex-direction: column;
    
}
.Product-Lineup{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
}
.ProductNames{
    color: black;
    list-style-type:none ;
    padding-right: 20px;
    font-size: larger;
    
}

.ProductNames a:link {
    text-decoration:none;
}

.ProductNames a:hover{
    color: rgb(37, 155, 228);
}
.LeftSignUP_Button{
    background-color: rgb(37, 37, 185);
   padding: 8px;
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
}

.HeadingForLeftHeader{
    font-size: xx-large;
}

.left-header{
    display: flex;
    flex-direction: column;
    height:170px;
    width:400px;
}
.LeftSignUP_Button a:link{
    color: white;
    text-decoration: none;
}
.LeftSignUP_Button a:visited{
    color: white;
    text-decoration: none;
}
.LeftSignUP_Button a:hover{
    color:rgb(212, 209, 209);
}
.upper-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BELOW is code for NothingQuiteLikeApple Div container */

.lower-header{
    display: flex;
    flex-direction: row;
   justify-content: center;
 /*  border-style:solid;
   border-radius: 10px;
   border-color:black ; */
}
.right-header{
    display: flex;
    height: 180px;
    width: 180px;
}

.actualheader{
    display: flex;
    flex-direction: row;
    justify-content:start;
    flex-shrink: 0; 
    border-color: black;
    border-style:solid;
    border-radius: 10px;
    padding-left: 15px;
    width:735px;  
    overflow:visible; 
    margin-right:10px;
    margin-left: 10px;
}

/* ENDS Here */

.header-logo{
    display: flex;
    flex-direction: row;
    width: auto;
}

.header-links{
    display: flex;
    flex-direction: column;
}
.Apple-Logo{ /* The ideal ratio of width:height should be 1.75:2  , otherwise the logo will look weird and stretched in/out */  
    display:flex;
    width:25.875px;
    height:30.5px;
}

.NameOfProduct{
    font-size: xx-large;
}

.macmini{ /* Height:Width ratio is 1.5:4*/
    height:75px;
    width:200px;
}

.MacPro{    /*Height:Width ratio is 4.5:5.5*/
    height:276px;
    width:300px;
}

.Mair{ /* Height:Width ratio is 5:9*/
    height:250px;
    width:450px; 
}

.Mpro{  /* Height:Width ratio is 5:9*/
    height:250px;
    width:450px;
}

.M14pro{
   /* height:285px;
    width:485px; */
    height:270.75px;
    width:460.75px;
    
}

.M16pro{
    height:300px;
    width:550px;
}

/*  .middle-part{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
} */

.image1{
    padding-bottom: 135px;
}
.part{
    padding-right: 50px;
}
.MiddleMandLowerMPart{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right:30px;
}

.Apple-Logo:hover{
     background: url("Logos_And_Images/Apple_logo_grey.svg.png") no-repeat;
}

.header-logo:hover{
    background-image: url("Logos_And_Images/Apple_logo_grey.svg.png") no-repeat;
}

.ipad9{ /* Ideal ratio is 3.35:3 */
    height:368.5px;
    width:330px;
}
.ipadmini6{ /* Ideal ratio is 3.35:3 */
    height:294.8px;
    width:264px;
}
.ipadair4{
    height:398px;
    width:356.5px;
}
.ipadpro3{
    height:479px;
    width:430px;
}

/* Below is code for MacDesktop */

.whymac{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-content: center;
}

.macbookimagecontainer{
    display: flex;
    justify-content: center;
}

.titlesubtext{
    display: flex;
    width: 800px;
    justify-content: center; 
    justify-self: center;
    align-self: center;
    text-align: center;   
}

.title{
    display: flex;
    justify-self: center;
    justify-content: center;
}

.MDfirsttab{
    font-family: 'SFProText';
    color: white;
    display: flex;
    flex-direction: column;
    padding: 100px 125px 150px 125px ;  /* TOP RIGHT BOTTOM LEFT TRBL */
    background-image: url(MacDesktop/monterey.jpg);
   /* background-repeat: no-repeat; */
  /*  justify-self: center;
    justify-content: center;
    align-self: center;
    align-content: center; */
    text-align: center;
    border-radius: 20px;
    font-weight: normal;
    margin: 20px;
    width: 790px; 
}
.RSG{
    font-family: 'SFProText';
    font-size: x-large;
    font-weight: bolder;
}
.MDfirsttabtitle{
    display: flex;
    font-size: x-large;
    padding-top: 0px;
    justify-content: center;
}
.MDfirsttabsubtext{
    display: flex;
    width: 800px;
    text-align: center;
}

.MDfirsttabtitle{
    font-family: 'SFProText';
    font-weight: lighter;
    font-size: x-large;
}


.macbookimage{ /* ratio of width:height is 1.7:1 */
    height:400px;
    width:680px;
}


.MDsecondtab{
    display: flex;

    background-image: url(MacDesktop/hardpartlarge.jpg);
    background-position-x: 50%;
    width:733px;
    height:569px;
    border-radius: 20px;
}



/* Code for MacDesktop ends here */







.grey{
    color:gray;
}
.silver{
    color:silver;
}
.gold{
    color:gold;
}
.blue{
    color: blue;
}
.skyblue{
    color:skyblue;
}
.red{
    color:red;
}
.silver{
    color:silver
}
.yellow{
    color:rgba(211, 211, 35, 0.808);
}
.orange{
    color:orange;
}
.pink{
    color:pink;
}
.starlight{
    color:rgb(246, 246, 220);
}
.purple{
    color:purple;
}
.green{
    color:green;
}
li{
    font-size: large;
}

/*  <ul>
                    <li>    </li>
                    <li>    </li>
                    <li>    </li>
                    <li>    </li>
                    <li>    </li>
                    <li>    </li>
                    <li>    </li>
                    <li>    </li>
                  </ul> */


/*  <div class="middle-part">
        <div class="UpperMiddlePart">

        </div>
        <div class="MiddleM&LowerMPart">
            <div class="FirstPart">
                <div class="ImagePart">

                </div>
                <div class="SubtextPart">

                </div>
            </div>
            <div class="SecondPart">
                <div class="ImagePart">

                </div>
                <div class="SubtextPart">
                    
                </div>
            </div>
            <div class="ThirdPart">
                <div class="ImagePart">

                </div>
                <div class="SubtextPart">
                    
                </div>
            </div>
            <div class="FourthPart">
                <div class="ImagePart">

                </div>
                <div class="SubtextPart">
                    
                </div>
            </div>
        </div>
    </div>
*/





