.header{
    display: flex;
    flex-direction: column;
   /* background-color: rgb(252, 247, 247); */
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.link{
    color: black;
}
.upper-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.header-links{
    display: flex;
    flex-direction: column;
    
}
.Product-Lineup{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
}
.ProductNames{
    color: black;
    list-style-type:none ;
    padding-right: 20px;
}

.ProductNames a:link {
    text-decoration:none;
}

.ProductNames a:hover{
    color: rgb(37, 155, 228);
}
.LeftSignUP_Button{
    background-color: rgb(37, 37, 185);
   padding: 8px;
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
}

.HeadingForLeftHeader{
    font-size: xx-large;
}

.left-header{
    display: flex;
    flex-direction: column;
    height:170px;
    width:400px;
}
.LeftSignUP_Button a:link{
    color: white;
    text-decoration: none;
}
.LeftSignUP_Button a:visited{
    color: white;
    text-decoration: none;
}
.LeftSignUP_Button a:hover{
    color:rgb(212, 209, 209);
}
.upper-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lower-header{
    display: flex;
    flex-direction: row;
   /* justify-content: space-evenly; */
}
.right-header{
    display: flex;
    height: 180px;
    width: 180px;
}
.header-logo{
    display: flex;
    flex-direction: row;
    width: auto;
}

.header-links{
    display: flex;
    flex-direction: column;
}
.Apple-Logo{ /* The ideal ratio of width:height should be 1.75:2  , otherwise the logo will look weird and stretched in/out */  
    display:flex;
    width:21.875px;
    height:25px;
}

.NameOfProduct{
    font-size: xx-large;
}

/*  <ul>
                    <li>    </li>
                    <li>    </li>
                    <li>    </li>
                    <li>    </li>
                    <li>    </li>
                    <li>    </li>
                    <li>    </li>
                    <li>    </li>
                  </ul> */
